@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede8e6;
  --foreground: #1e201e;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #1e201e;
    --foreground: #ede8e6; */
    --background: #ede8e6;
    --foreground: #1e201e;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #1e201e;
}
