@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede8e6;
  --foreground: #1e201e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e201e;
    --foreground: #ede8e6;
    /* --background: #ede8e6;
    --foreground: #1e201e; */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  overflow: scroll;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #1e201e;
}

/* ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
} */

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .customBtn {
    @apply font-semibold rounded-md bg-[--foreground] py-3 px-6 border border-transparent text-center text-sm text-[--background] transition-all duration-500 shadow-md hover:shadow-lg focus:bg-[--background] focus:shadow-none active:bg-[--background] hover:bg-[--background] hover:text-[--foreground] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2;
  }
}
